body {
    font-family: "Roboto", sans-serif;
}

#mainApp {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    align-items: center;
}

.gameBoard {
    border: 1px solid black;
    height: 20rem;
    width: 20rem;

    display: grid;
    grid-template-rows: repeat(10, auto);
    grid-template-columns: repeat(10, auto);
    grid-auto-flow: row;
    align-items: stretch;
    justify-items: stretch;
}

.gameBoard-small {
    border: 1px solid black;
    height: 15rem;
    width: 15rem;

    display: grid;
    grid-template-rows: repeat(10, auto);
    grid-template-columns: repeat(10, auto);
    grid-auto-flow: row;
    align-items: stretch;
    justify-items: stretch;
}

.gameBoard-green {
    /* border: 5px solid green; */
}

#game-boards {
    display: flex;
    flex-direction: row;

    gap: 5rem;
}

.position-ship-placing {
    background-color: rgb(0, 180, 255) !important;
}

.position-ship-healthy {
    background-color: blue;
}

.position-ship-damaged {
    background-color: red;
}

.position-unknown {
    background-color: rgb(248, 248, 248);
}

.position-attacked {
    background-color: rgb(17, 162, 153);
}
