body {
    font-family: "Roboto", sans-serif;
}

#mainApp {
    display: flex;
    gap: 2rem;
}

.gameBoard {
    border: 1px solid black;
    height: 20rem;
    width: 20rem;

    display: grid;
    grid-template-rows: repeat(10, auto);
    grid-template-columns: repeat(10, auto);
    grid-auto-flow: row;
    align-items: stretch;
    justify-items: stretch;
}

.position-ship-healthy {
    background-color: blue;
}

.position-ship-damaged {
    background-color: red;
}

.position-unknown {
    background-color: rgb(248, 248, 248);
}

.position-attacked {
    background-color: rgb(17, 162, 153);
}
