:root {
    --border-border: 1px solid grey;
    --border-radius: 10px;
    --box-shadow: 0px 5px 5px 1px grey;
}

body {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 1.5rem;
    padding: 2rem;
    border: var(--border-border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

#mainApp {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    align-items: center;
}

.gameBoard {
    border: 1px solid black;
    height: 20rem;
    width: 20rem;

    display: grid;
    grid-template-rows: repeat(10, auto);
    grid-template-columns: repeat(10, auto);
    grid-auto-flow: row;
    align-items: stretch;
    justify-items: stretch;
}

.gameBoard-small {
    border: 1px solid black;
    height: 15rem;
    width: 15rem;

    display: grid;
    grid-template-rows: repeat(10, auto);
    grid-template-columns: repeat(10, auto);
    grid-auto-flow: row;
    align-items: stretch;
    justify-items: stretch;
}

.gameBoard-green {
    /* border: 5px solid green; */
}

#game-boards {
    display: flex;
    padding: 2rem;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    border: var(--border-border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.game-board-player-container {
    display: flex;
    align-self: baseline;
    padding: 1rem;
    border: var(--border-border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);

    flex-direction: column;
    gap: 2rem;
}

.score-board {
    margin: 0.5rem;
    padding: 0.5rem;
    border: var(--border-border);
    border-radius: var(--border-radius);
    flex-basis: 6rem;
}

.score-board > ul, li {
    margin: 0.5rem;
}

.position-ship-placing {
    background-color: rgb(0, 180, 255) !important;
}

.position-ship-healthy {
    background-color: blue;
}

.position-ship-damaged {
    background-color: red;
}

.position-unknown {
    background-color: rgb(248, 248, 248);
}

.position-attacked {
    background-color: rgb(17, 162, 153);
}

#start-menu {
    display: flex;

    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 2rem;
}

#player-one-menu,
#player-two-menu {
    border: var(--border-border);
    border-radius: var(--border-radius);
    padding: 1rem;
    display: flex;
    flex-direction: column;

    gap: 0.5rem;
}
